[2017-02-06 23:34] terminak commented on #139
I have not looked at your codebase at all (just stumbled in here), but have you considered just scanning all the comments continuously? In pseudocode:

[code]

I do something similar for keeping track of URLs (ninja edits switching wishlists and such), works well for me. But I don't understand the worry about the edit time, so may be overlooking your requirements...

[2017-02-07 07:09] RaoulMeyer commented on #139
The problem is that the bot only scans the recent comments up to the last seen comment in the previous run. So if a comment is scanned and afterwards the user edits the comment to contain a delta, that delta will not be awarded. However, to fix this, an extra check was added that scans all comments with the edited flag and processes those again. This still does not fully solve the problem, because

[2017-02-07 11:54] Snorrrlax commented on #132
@wyantb Any idea what's happening here?

[2017-02-07 12:25] wyantb commented on #132
Not sure offhand, no, but the truncation methods are all unit-testable and I can try to find some time to look at it (later today/Friday/Saturday?) since it looks like this happens enough to be worth fixing.

[2017-02-07 12:29] Snorrrlax commented on #132
That would be great, thank you!

[2017-02-09 20:09] #132 closed

[2017-02-12 22:14] Snorrrlax commented on #139
[Here's an example](https://www.reddit.com/r/changemyview/comments/5tnn07/cmv_the_spork_is_an_inferior_utensil/ddnrth7/?context=3) of what we want to prevent with this enhancement.

[2017-02-14 21:17] hacksoncode commented on #140
One option would be to put in a comment for the force deletion, similar to the one for rejected deltas (that would be treated similarly, but not allow editing to "fix it".

Maybe something like "This delta has been removed by a moderator for violating Rule 4. Please click here to appeal."

[2017-02-17 15:05] Snorrrlax opened #171 "User request for missing deltas"
/u/EyeceEyeceBaby:

"I noticed my Deltas got a bit messed up. If you look at the revision history, I went from having 22∆ to 2∆ somehow. I think I'm supposed to be at 24, depending on when exactly the error happened. I was hoping one of you would be able to correct the error."

https://www.reddit.com/r/changemyview/wiki/user/eyeceeyecebaby

[2017-02-20 02:18] dennisnewel commented on #123
What are the issues with Codeship? it's free for open source projects as well so i'm sure there's something we can do to fix the problems?

[2017-03-02 01:22] arswaw commented on #158
I've opened a PR [here.](https://github.com/MystK/delta-bot-three/pull/172)

[2017-03-02 08:01] RaoulMeyer commented on #158
This is now solved.

[2017-03-02 08:01] #158 closed

[2017-03-02 12:58] hacksoncode opened #173 "Yearly deltaboard missed someone?"
Got a message from /u/allsfair86 asking why they aren't on the yearly deltaboards since they've received 12 deltas since January and the lowest entry on the board has only 10.

Seems like a good question.

[2017-03-05 21:56] MystK commented on #123
Codeship free allows only 1 thread. Travis CI free allows multiple threads, so it's much faster. Only way I can think of "fixing" Codeship is to pay for it. Thoughts?

[2017-03-06 21:52] dennisnewel commented on #123
We'd be happy to give you more resources.

Unfortunately our internal systems won't let me automatically upgrade open source projects, so it'd have to be manual for now. We've found your account and have upgraded it to 5 parallel builds and 5 testing pipelines; that should hopefully help you make your builds faster.

Let me know if you need any other help regarding Codeship :)

[2017-03-06 22:02] MystK commented on #123
Wow, that's great! Thank you so much! If everything works out, I will migrate everything from Travis CI to Codeship instead! :)))

[2017-03-06 22:04] dennisnewel commented on #123
Happy to help out! it's not clearly enough stated on the site yet (partly because it's still a manual process) but we're definitely up for given more resources to OSS projects; it's good to give something back to the community

[2017-03-07 18:48] hacksoncode opened #176 "Bot hung"
Looks like the bot is hung. If someone is around who can debug it, great... otherwise I'm going to reboot it after lunch.

[2017-03-07 18:48] MystK commented on #176
I will investigate

[2017-03-07 18:52] MystK commented on #176
![image](https://cloud.githubusercontent.com/assets/7399140/23672596/0c0ffbec-0324-11e7-9e60-fcf878323ebc.png)

Looks like the VPS is offline. Maybe related to grabbing yearly deltaboards? @RaoulMeyer

[2017-03-07 18:58] MystK commented on #176
It's back up for now. Thanks for monitoring @hacksoncode ;)

[2017-03-07 19:28] MystK commented on #173
Hi @RaoulMeyer, could I assign this to you? You probably have the most experience with this.

[2017-03-07 19:44] RaoulMeyer commented on #173
Sure, I think I already know what the issue is, but it is going to be hard to find a way to fix it unfortunately.

[2017-03-07 19:46] RaoulMeyer commented on #176
I don't know what would have caused the bot to crash, some logs would be useful. Do the logs of the OS show any cause for the crash?

[2017-03-07 20:01] Snorrrlax commented on #173
It would probably be more efficient to focus on the alternative method we talked about before?

[2017-03-07 20:08] RaoulMeyer commented on #173
Yeah I forgot for a moment that the missing delta solution would also solve the yearly deltaboard problems.

[2017-03-07 21:10] hacksoncode commented on #176
When the VPS has been offline in the past, it has been because of exceeding the memory limit over some mysterious threshold that RamNode has.

But I thought at some point that we quoted the DB process and had a watchdog, or something...

[2017-03-08 01:04] MystK commented on #173
Could you explain a little bit of what's causing it?

[2017-03-08 01:09] MystK commented on #139
For an update, I am currently working on this

[2017-03-08 03:06] hacksoncode commented on #176
Looks like it might be dead again. No deltas in 6 hours... Seems like perhaps a bigger problem than just a one time glitch.

[2017-03-08 03:22] MystK commented on #176
I don't have time today to look at the issue. I've rolled back production to when this wasn't an issue. I will look at this on the weekend. Attached is the log.

I'm pretty sure it has to do with my refactoring.

[out.txt](https://github.com/MystK/delta-bot-three/files/826556/out.txt)

[2017-03-08 07:05] RaoulMeyer commented on #176
The last thing the bot was doing before crashing was fetching comments of threads for the yearly deltaboard. Seeing as the memory is very limited, that might be the issue here. Are there any other logs that can confirm that this was a memory issue? How much would it cost to upgrade the VPS to a configuration with more RAM?

[2017-03-08 07:24] RaoulMeyer commented on #173
The current problem with the yearly deltaboard is caused by the search not returning deleted threads. Any deltas that were awarded in deleted threads are therefore not found. For most users the yearly deltaboard will be correct, but for some users deltas will be missing.

For allsfair86, the following delta is not found: https://www.reddit.com/r/changemyview/comments/5vvjaa/cmv_english_classes_sho

[2017-03-08 16:41] MystK commented on #140
I like the approach above. If @Snorrrlax is not okay with a Deltabot comment, maybe a comment where only mods can see would do? Something like the report feature? Thoughts?

[2017-03-08 16:48] Snorrrlax commented on #140
I like hacksoncode's suggestiong too.

[2017-03-13 00:45] MystK commented on #123
Hi @dennisnewel, just wanted to say thanks again! It's as quick as I had hoped for! Will be ditching Travis CI and keeping Codeship! 👍

[2017-03-13 00:45] #123 closed

[2017-03-13 01:16] MystK opened #177 "Improved not-secret Edited Comments performance"
There is lots of duplicate checking right now for non secret edited comments. Cache the edited time with the comment ID in a performant manner so we can skip things that have been already checked.

[2017-03-13 01:17] MystK opened #178 "Convert to snoowrap"
Convert everything to snoowrap. We are currently going way over our rate limit, especially with the yearly deltaboards. To avoid getting banned, convert to snoowrap, if possible because it handles it for us already.

[2017-03-14 04:21] MystK commented on #173
Also looks like comments that are nested are not counted.

[2017-03-14 04:22] MystK commented on #176
been three hours. Looking good so far. No logs of memory issues ATM. We are at the cheapest VPS. Not sure on cost, but it's also cheap. Closing this for now unless I see it again.

[2017-03-14 04:22] #176 closed

[2017-03-14 04:23] MystK commented on #139
Done! Closed and implemented inproduction

[2017-03-14 04:23] #139 closed

[2017-03-15 03:02] MystK commented on #114
Going to closed this as it is stale. A PR is welcome to add more comments! :)

[2017-03-15 03:02] #114 closed

[2017-03-15 03:06] MystK commented on #50
What snorrrlax says here and in this [mod comment](https://www.reddit.com/r/changemyview/comments/5z8sj5/cmv_redditcom_is_an_awesome_website/dewigq7/) is conflicting.

[For how DB checks for a reply, see line 126 of the utils.js file.](https://github.com/MystK/delta-bot-three/blob/master/src/utils.js#L126)

[2017-03-15 03:09] MystK commented on #92
Hi @RaoulMeyer, we could use these for the Yearly Deltaboard. What do you think?

[2017-03-15 03:11] MystK commented on #129
To add info to this, it's kind of hard because it requires figuring out how many deltas have been awarded by OP, and that info requires fiddling around with the code and maybe making another API call.

[2017-03-15 07:49] Snorrrlax commented on #50
Ah, there's been some miscommunication between the mods that I'll sort out. Please use what I've been saying here unless I come back with a change after discussing with that mod.

[2017-03-15 11:20] wyantb commented on #129
It would require a bit of restructuring, I think, but not another api call; if `findOrMakeDeltaLogPost` returned the hidden params on the delta log post itself in addition to it's current return, `findOrMakeStickiedComment` would be able to use the list of comments in those params to decide what to do - nothing, update the comment, or make the comment.

[2017-03-15 20:40] RaoulMeyer commented on #92
The (historic) monthly deltaboards only contain the top 10 users. So that would probably not be enough to generate a yearly or all-time deltaboard. I think we should probably save the data for the yearly deltaboard as hidden data in a separate page.

[2017-03-17 15:26] roastchicken commented on #50
I haven't checked out that line yet, but this is great timing. I'm just about to start Spring break so I should hopefully have plenty of time to work on this.

[2017-03-17 15:46] Snorrrlax opened #179 "Add a line space between bullet points in a DeltaLog post."
Here's what a DeltaLog post currently looks like: https://www.reddit.com/r/DeltaLogDB3Dev/comments/5z31gw/deltas_awarded_in_cmv_this_should_work/

I'd like to change it to this: https://www.reddit.com/r/DeltaLogDB3Dev/comments/5zyauz/test/

This will make the bullet point lists more readable in /r/DeltaLog, since the link text can sometimes be a bit squashed.

[2017-03-17 17:29] yleong commented on #179
I can work on this

[2017-03-17 20:27] RaoulMeyer commented on #179
A fix for this issue has been merged.

[2017-03-17 20:27] #179 closed

[2017-03-21 21:01] hacksoncode opened #182 "PM acknowledging add/remove commands"
The old DB had a feature where it would acknowledge add/remove commands when processed with a PM.

This was very handy, as it's quite awkward to sit there and refresh the screen until DB gets around to removing/adding a delta when you're not sure you formatted the command correctly.

Would it be very hard to add this back?

[2017-03-21 21:26] hacksoncode commented on #182
As a side note... I just saw this header on a post where I was trying (unsuccessfully, so far) to remove a delta:

I'm wondering how DB deals with this situation in general. It could be a pretty serious problem for our reliability...

And another good reason to send a PM...

[2017-03-21 22:08] Snorrrlax commented on #182
Yeah, PM confirmations would be great.

[2017-03-22 21:29] ozzie1998 commented on #182
Hmm, I'll take a look tomorrow night, going to read over all the source and figure it all out, and the Reddit API.

[2017-03-22 21:32] ozzie1998 commented on #168
A seperate file for every day would mean something has to monitor the file base to make sure A, all files are there, and that they don't get out of hand, very bad way of doing it! Store it in one JSON file, organised by date, time, etc, one file call, no lookup to find the file you want, etc.

[2017-03-22 21:33] ozzie1998 commented on #168
I'm working on a system that can search through JSON, and an admin UI based of a NoMysql JSON database, I'll start work on a terminal for it by Friday, after that I'll try and get to work on a web based system, not the most creative btw.

[2017-03-22 21:37] ozzie1998 commented on #165
Bump the current process to a new thread, buffer up all the stuff the server requires, on a new thread, start a new server, then sync data, then terminate the old server process, this will allow a quick, in-interrupted service, the admin interface can be protected via HTTPS/SSL, and a login page. I've been wanting to do something like this, so I may start on something like this, then move it over

[2017-03-22 21:41] ozzie1998 commented on #159
Just stream the data from the sever to the client, less requests are used that way, and more efficient.

[2017-03-22 22:02] Snorrrlax opened #183 "Add ?context=1 to DeltaLog links."
For example, [this DeltaLog post](https://www.reddit.com/r/DeltaLog/comments/60uptm/deltas_awarded_in_cmv_transgender_specifically/) contains links like this:

https://www.reddit.com/r/changemyview/comments/60u6bk/cmv_transgender_specifically_mtf_athletes_have_an/df9vb5d/

Can we change all DeltaLog links to include **?context=1** at the end of the URL, like this:

https://www.reddit.com/r/changem

[2017-03-22 22:20] MystK commented on #159
What do you mean stream? Is a web socket not streaming the data?

[2017-03-23 07:44] yleong commented on #183
To achieve this, we can bake `?context=1` into the [i18n template](https://github.com/MystK/delta-bot-three/blob/master/i18n/index.json#L19-L20) directly.

Or for a more flexible approach, we can modify [mapDeltaLogCommentEntry](https://github.com/MystK/delta-bot-three/blob/master/src/index.js#L425-L431) and add a new key (e.g. `linkParams`) or modify the value of `awardedLink`

[2017-03-23 12:57] ozzie1998 commented on #159
Derpdy derp... of course it is. But I think if we can list all the important data the admin interface will require, we can just update the client with that information if any of it had changed, minimising requests going to the server, and hopefully increase performance of the admin interface, or just use a JSON API for all the required information?

[2017-03-23 13:25] MystK commented on #159
How is anything you're saying different from the original post? Also a restful API would greatly reduce performance and increase requests don't you think?

[2017-03-23 15:34] MystK commented on #183
I am fine with either solution. :) a PR for either is much appreciated!

[2017-03-23 15:54] Snorrrlax commented on #182
Actually, I forgot this would be covered by my suggestion at the bottom of this issue: https://github.com/MystK/delta-bot-three/issues/108

[2017-03-23 15:54] #182 closed

[2017-03-23 16:58] ozzie1998 commented on #159
Of course, I am going mad.

[2017-03-25 01:33] MystK commented on #168
Hi @ozzie1998 any PR on this would be greatly appreciated. Thanks :)

[2017-03-25 18:38] ozzie1998 commented on #168
Sorry, not heard the term PR before, it stands for?

[2017-03-27 18:05] hacksoncode opened #184 "Double delta comment"
Just got a report on the delta comments for [this comment](https://www.reddit.com/r/changemyview/comments/61q52j/cmv_competitive_games_can_seriously_effect_social/dfgife3/).

I think a while back we had a problem with double delta comments... looks like maybe it regressed...

[2017-03-29 00:08] Snorrrlax commented on #168
Pull Request

[2017-03-29 12:10] ozzie1998 commented on #168
Ahh, Of course. Fail.

On Wed, Mar 29, 2017 at 1:08 AM, Snorrrlax <notifications@github.com> wrote:

[2017-03-29 18:44] Snorrrlax opened #185 "Deltas in reddit quotes"
DeltaBot is written to ignore deltas included in reddit quotes. This is to allow a method of discussing deltas, or explaining how/when to award one, etc.

However, sometimes users do attempt to award one in a reddit quote. I think this is due to reddit auto-filling a reply box with content you've copied, which is a method we encourage in the sidebar.

I don't think we should change our system of i

[2017-03-29 20:39] Snorrrlax opened #186 "This edit wasn't rescanned"
This comment was edited twice. It originally contained a delta in a reddit quote.

In the first edit, the author removed the delta as well as the quote. I replied to them again, and their second edit added it back in. For some reason DeltaBot hasn't rescanned it?

https://www.reddit.com/r/changemyview/comments/622fiq/cmv_living_an_adventurous_life_you_would_remember/dfj8jri/

[2017-03-29 20:44] MystK commented on #186
super interesting.

From memory, DeltaBot should always read the edited page linked below.
https://www.reddit.com/r/changemyview/about/edited

It should pick up the edited comment and update it. I'll have to take a look and see what happened.

[2017-03-29 22:21] Snorrrlax opened #187 "Delete command bug"
Every time we send a delete command to DeltaBot for this comment, it removes it but adds it again a few moments later:

https://www.reddit.com/r/changemyview/comments/627uu2/cmv_people_are_too_attached_to_their_personal/dfkumm2/

[2017-03-30 10:00] Snorrrlax commented on #50
Any update on this?

[2017-03-30 10:00] #183 closed

[2017-03-30 19:05] MystK commented on #187
similar to #140 but unrelated.

This happens because of the "rescans." A fix for #140 would fix this.

Suggested solution: Make DeltaBot add a comment.

[2017-03-30 19:41] MystK commented on #185
Yes, this is possible :)

[2017-03-31 19:33] Snorrrlax opened #189 "DeltaLog title bug"
This DeltaLog post says &amp;gt; instead of >

https://www.reddit.com/r/DeltaLog/comments/62mvwx/deltas_awarded_in_cmv_command_pricing_economy_gt/

[2017-04-01 00:55] Snorrrlax commented on #184
Still a problem: https://www.reddit.com/r/changemyview/comments/62nwec/cmv_i_would_rather_be_a_werewolf_instead_of_a/dfo3c7g/

[2017-04-03 15:45] Snorrrlax opened #190 "User request for missing delta"
/u/Omegaile has been awarded a delta, bring their total to 2. However, the first was awarded three years ago and has been wiped: https://www.reddit.com/r/changemyview/comments/1tgx6i/i_think_that_if_you_are_friendly_with_people_who/ce7w9ea/

They sent us a modmail requesting it back.

[2017-04-03 22:55] hacksoncode opened #191 "Lost all of my deltas"
I just received my approximately 289th delta on this comment: https://www.reddit.com/r/changemyview/comments/633hwm/cmv_some_individuals_with_downs_syndrome_are/dfrznpb/, and now I have 1. I even got the PM congratulating me on my first delta, which was kind of hilarious.

Something serious has gone wrong here. I don't know if it's a glitch or the result of some change made recently, but I'd say t

[2017-04-04 00:34] Snorrrlax commented on #191
Similar thing happened to PepperoniFire: https://github.com/MystK/delta-bot-three/issues/103

[2017-04-04 21:52] hacksoncode commented on #191
Does it help for me to leave my delta-history broken while this is investigated, or is it ok to fix that manually?

[2017-04-04 21:55] Snorrrlax commented on #191
Probably best to leave it until @MystK gets back to us, hopefully won't be long.

[2017-04-05 14:13] MystK commented on #191
Feel free to fix it as I have the state from the history.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: hacksoncode <notifications@github.com>
Sent: Tuesday, April 4, 2017 2:52:03 PM
To: MystK/delta-bot-three
Cc: Subscribed
Subject: Re: [MystK/delta-bot-three] Lost all of my deltas (#191)

Does it help for me to leave my delta-history broken while this is inves

[2017-04-05 14:45] Snorrrlax commented on #191
@MystK, will this be a case of ~288 entries saying "manually awarded delta"? Scanning the entire subreddit for missed deltas would make this unnecessary, right?

[2017-04-09 02:50] #129 closed

[2017-04-10 14:34] yleong commented on #189
This seems related to #135 where the ampersand was fixed.

According to this [test](https://www.reddit.com/r/DeltaLogDB3Dev2/comments/64juff/deltas_awarded_in_cmv_dont_get_stuck_in_a_closet/) both < and > are currently affected so I will fix for both.

[2017-04-10 15:33] Snorrrlax commented on #189
Are there any other characters/symbols that might be affected in this way?

[2017-04-10 15:47] yleong commented on #189
According to [this](https://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents), it seems like < > " ' & are the only characters.

[2017-04-10 15:49] Snorrrlax commented on #189
Ah I see, thanks!

[2017-04-12 01:33] #189 closed

[2017-04-13 21:57] hacksoncode commented on #191
I reverted this a while ago, but when I got a new delta, it did something weird, which was edit most of the older delta comment entries and make other miscellaneous changes (most changes were in the "b" and "ab" fields).

In the process it deleted a "Manual Legacy Delta Added" entry and thus lost that delta.  Is there a new process for manually adding a legacy delta? Or how do we do that now?

Her

[2017-04-14 19:58] MystK commented on #191
The manually added deltas get removed because the code searches and removes duplicates. The solution was to create change the time. I wrote down a little snippet that does this automatically. It is somewhere on this github. I will need to find it

[2017-04-14 23:53] Snorrrlax opened #193 "Double Sticky Comment"
This post has two "sticky comments" from DeltaBot: https://www.reddit.com/r/changemyview/comments/65ctl4/cmv_i_believe_i_have_legitimately_solved_the/

Only one is actually stickied of course, but DeltaBot made the comment twice (the second is further down the comments).

[2017-04-16 16:33] MystK commented on #193
Looks like what happened is that DeltaBot crashed or something midway to awarding and making a comment. It's hard to fix this at the source, and we'll most likely need another thread running looking for Deltabot mistakes like this.

[2017-04-16 16:34] MystK commented on #191
Found it

https://github.com/MystK/delta-bot-three/issues/74#issuecomment-263321145

[2017-04-21 18:36] Snorrrlax opened #194 "Not all deltas in this post were added to DeltaLog"
This post: https://www.reddit.com/r/changemyview/comments/66eeci/cmv_vaccines_and_vaccinations_etc/

It has more than one delta from OP, but the /r/DeltaLog post for it only contains one.

[2017-04-22 06:35] yleong commented on #194
Actually, 2 delta log posts were created for each recording down 1 delta.

https://www.reddit.com/r/DeltaLog/comments/66kj0y/deltas_awarded_in_cmv_vaccines_and_vaccinations/

https://www.reddit.com/r/DeltaLog/comments/66eltr/deltas_awarded_in_cmv_vaccines_and_vaccinations/

This is weird because [findOrMakeDeltaLogPost](https://github.com/MystK/delta-bot-three/blob/b8fec032075566c16f00d5f7c2c9889b

[2017-04-22 06:54] yleong commented on #193
Even so, when DeltaBot recovers and tries to sticky-comment again, wouldn't it have detected the existing sticky-comment and stop proceeding?
Unless DeltaBot recovers faster than Reddit can update and causes a race-condition?

[2017-04-22 07:29] yleong commented on #184
Another case [here](https://www.reddit.com/r/DeltaLog/comments/64kumu/deltas_awa) with normal and duplicated deltas in the same delta log post.

[2017-05-05 08:31] whitef530 opened #195 "This delta cannot be added"
https://www.reddit.com/r/changemyview/comments/68fihe/cmv_porn_is_normal_and_does_not_have_a_negative/dh0pgkh

Two issues:

1. DB doesn't automatically rescan the edited comment
2. DB doesn't respond to the add command

[2017-05-06 01:44] MystK commented on #195
Not sure why the auto rescan doesn't work, but the add doesn't work because DB3 detects that it has replied already. You'll have to send a delete, then add.

[2017-05-19 17:02] Snorrrlax opened #196 "Adding "deltas given" to delta history"
I was reading through some old DeltaBot feature discussions, and an idea that came up was keeping track of users who *give* deltas as well as those who receive them.

I don't think it would be a good idea to make a separate user flair system or more deltaboards, but a section in a user's delta history page would be a nice addition. I chose a reasonably sized delta history page from our current mon

[2017-05-19 17:06] MystK commented on #196
Cool feature. A lot of what's required is already implemented. Completing this task requires using the features we currently have and doing some refactoring.

For whoever does this, it would be good to convert this section of the code to use snoowrap also.

[2017-05-19 17:09] Snorrrlax opened #197 "Preparing for delta history size limits"
We haven't had to deal with wiki limits yet, but I was curious to find out if there is one. According to [this comment](https://www.reddit.com/r/ModSupport/comments/6c0vv9/is_there_a_wiki_page_sizenumber_limit/dhr41jp/), there is.

I'm not sure exactly what 262 KB of data is with text, but we may be getting close in a few pages.

What should we do when this happens?

I propose that if we do hit a

[2017-05-19 17:12] MystK commented on #197
Right now, the database is in plain text and human readable format. The ez suggestion would be to compress the data we store. This would increase how much data we can store in the wiki by A LOT.

The harder solution would be to use a real database instead of the wiki. This has its own pros and cons.

[2017-05-21 19:06] hacksoncode commented on #191
Saw another case of this.

Here's an example: https://www.reddit.com/r/changemyview/wiki/user/bagodonuts10

Actually, though... that might just be an example of the old bug regarding lost deltas from before this DB version.

I forget, do we have some way to restore the lost deltas with their information intact? Or is the only option to put in manual deltas without the old info?

[2017-05-21 19:37] hacksoncode commented on #191
Another instance that was just reported. Don't know if this is a just a coincidence or a new behavior:

https://www.reddit.com/r/changemyview/wiki/user/Momentumle

[2017-05-21 20:18] Snorrrlax opened #198 "Monthly deltaboard score reduced"
u/Ansuz07's delta count keeps lowering on the monthly deltaboard. I think it was at 14 a day ago, then 12, and now it's at 9. I can't provide any more information unfortunately, but none of us are sure what's going on.

[2017-05-23 00:11] Snorrrlax commented on #193
This happened again today, six times within the same post:

https://www.reddit.com/r/DeltaLog/comments/6cqv28/deltas_awarded_in_cmv_people_should_earn_the/
https://www.reddit.com/r/DeltaLog/comments/6coa0f/deltas_awarded_in_cmv_people_should_earn_the/
https://www.reddit.com/r/DeltaLog/comments/6cpgvx/deltas_awarded_in_cmv_people_should_earn_the/
https://www.reddit.com/r/DeltaLog/comments/6cnbn1/de

[2017-06-06 09:28] Snorrrlax opened #200 "DeltaLog Entry Bug"
Link didn't work: https://www.reddit.com/r/DeltaLog/comments/6fhrse/deltas_awarded_in_cmv_the_evergreen_state_college/

[2017-07-01 01:32] caffeinewriter opened #201 "Rejected Deltas still apply the "Delta(s) From OP" flair"
I noticed in [this thread](https://www.reddit.com/r/changemyview/comments/6kj7tu/cmv_corporations_will_not_self_regulate_without/djmjnbw/?context=5) that the only delta awarded that I could see was rejected, yet the thread was still flaired with "Delta(s) From OP", which I suppose is technically correct, but seems to violate the intention of the flair.

The delta rejection makes sense, but situati

[2017-07-01 18:49] MystK commented on #201
I don’t believe DB3 handles the thread flair and that is triggered by something else. Could anyone else confirm, elaborate?

Antoine
________________________________
From: Brandon Anzaldi <notifications@github.com>
Sent: Friday, June 30, 2017 6:32:47 PM
To: MystK/delta-bot-three
Cc: Subscribed
Subject: [MystK/delta-bot-three] Rejected Deltas still apply the "Delta(s) From OP" flair (#201)

I notic

[2017-07-01 18:53] hacksoncode commented on #201
Correct. The flair is done by automod.

On Sat, Jul 1, 2017 at 11:49 AM, Antoine Pham <notifications@github.com>
wrote:

--
Ray

[2017-07-03 19:25] caffeinewriter commented on #201
Ahhh, that clears it up. I was looking through the code, and I saw some flair-related things, but I suppose that's strictly related to user flair. I'll go ahead and close this since it's an issue unrelated to DB3.

[2017-07-03 19:25] #201 closed

[2017-07-17 17:11] Snorrrlax opened #202 "Missed Delta"
We received a message saying that this delta had been missed: https://www.reddit.com/r/changemyview/comments/6mv6te/cmv_upon_plane_arrival_departing_passengers_in/dk4pxuv/

We used the add command to deal with it, but is there a way to find out how this happened?

[2017-07-17 17:24] MystK commented on #202
Hmm, I have some ideas on how this was missed if this was an edit.

I think we only have 1 edit thread going, but 3 normal comment threads.

[2017-07-26 10:58] Snorrrlax commented on #202
Another one: https://www.reddit.com/r/changemyview/comments/6pgdki/cmv_in_a_free_exchange_of_goods_with_adequate/dkp6026/

[2017-08-02 05:43] hacksoncode opened #203 "Feature request: log DB actions on DB home page"
It seems to me that now that reddit allows users to make their userpage be a "postable" micro-subreddit, it would be easy to log DB actions like adds, deletes, even reboots and errors, that are currently invisible and hard to track: just post them on DB's home page...

[2017-08-03 19:07] AHarman opened #204 ""Double posting" a delta-awarding comment awards two deltas"
See this deltalog post for an example: https://www.reddit.com/r/DeltaLog/comments/6reioq/deltas_awarded_in_cmv_i_think_it_is_shameful_that

A user double-posted the comment where they awarded a delta and deltabot recognised them both.

A possible solution is to check /r/deltalog to make sure the same user doesn't award the same comment the a delta twice.

[2017-08-21 01:39] mchav commented on #200
Could you give more details on this problem? Which link didn't work?

[2017-08-21 01:40] mchav commented on #202
Both comments seem to have deltas now? How can I reproduce the issue?

[2017-08-21 01:42] mchav commented on #198
Any leads for why this might be the case? Also it would be great to get some documentation going to reuce ramp up time for new contributors.

[2017-08-23 23:17] Snorrrlax opened #205 "Undistinguished DeltaBot Comment"
Link:

https://www.reddit.com/r/changemyview/comments/6vlynb/cmv_love_you_means_the_same_thing_as_i_love_you/dm1dc77/

Also failed to add it to the DeltaLog post:

https://www.reddit.com/r/DeltaLog/comments/6vmkft/deltas_awarded_in_cmv_love_you_means_the_same/

[2017-08-25 14:44] hacksoncode opened #206 "Missed delta, can't add using PM (was: New delta character U+2206)"
Please ignore this comment and only look at the next one, leaving this here for history: Somehow a user found this unicode character: ∆ (U+2206). Its description is "increment".

Rather than try to create explanations about this, can we just add this to the set of characters we accept?

https://www.reddit.com/r/changemyview/comments/6vurox/cmv_i_want_to_get_cosmetic_jaw_surgery/dm3nbrc/

[2017-08-25 14:47] hacksoncode commented on #206
Never mind... my mistake... that's the normal one (8710 in decimal).

However, for some reason DB failed to award a delta on this one... maybe an escape from our editing rescan? An add command doesn't work on this.

[2017-08-26 12:29] ardaozkal commented on #193
https://www.reddit.com/r/DeltaLog/comments/6w15if/deltas_awarded_in_cmv_everyone_cant_code/
https://www.reddit.com/r/DeltaLog/comments/6w16nv/deltas_awarded_in_cmv_everyone_cant_code/
https://www.reddit.com/r/DeltaLog/comments/6w1seg/deltas_awarded_in_cmv_everyone_cant_code/
https://www.reddit.com/r/DeltaLog/comments/6w59n7/deltas_awarded_in_cmv_everyone_cant_code/

---

https://www.reddit.com/r/D

[2017-09-27 14:49] Snorrrlax commented on #198
This mod post contained another example of this problem: https://www.reddit.com/r/changemyview/comments/6o2smk/mod_post_looking_for_help_with_our_deltaboard/

[2017-09-28 01:10] Snorrrlax commented on #193
https://www.reddit.com/r/DeltaLog/search?q=the+military+budget&restrict_sr=on

[2017-10-05 13:16] Snorrrlax opened #207 "Multiple Stickied Comments & DeltaLog Posts"
I'm making a new issue for this since the [last one](https://github.com/MystK/delta-bot-three/issues/193) wasn't clear (though it's still worth reading for the comments and examples).

We currently have a bug where DeltaBot creates more than one [stickied comment](https://www.reddit.com/r/changemyview/comments/74dvaz/cmv_the_united_states_should_have_mandatory/dnxknos/) (and more than one [DeltaLo

[2017-10-05 13:17] #193 closed

[2017-10-05 13:23] Snorrrlax commented on #203
Would this be an alternative to the admin interface idea? (#159 onwards)

[2017-10-06 20:50] Snorrrlax commented on #207
@wyantb do you have an idea of what's going wrong here?

[2017-10-06 22:14] kevinwern commented on #185
As mentioned on Slack, I'm starting work on this bug.

[2017-10-06 22:36] Snorrrlax commented on #200
Sorry for the delay @mchav, I missed your question. In this DeltaLog post, the link text for [this comment](https://www.reddit.com/r/changemyview/comments/6fhfzw/cmv_the_evergreen_state_college_situation_is_not/dii7hcx/?context=1) failed, and was posted as:

Instead of:

[2017-10-07 21:42] acz13 commented on #202
This was an edit issue, right? I suppose this should be fixed by periodically checking the `/about/edited` api endpoint?

[2017-10-10 00:42] Snorrrlax commented on #50
@roastchicken are you still interested in helping with this issue?

[2017-10-10 00:43] Snorrrlax commented on #128
Can this be closed?

[2017-10-10 15:48] MystK commented on #202
Yup, we actually already check the /about/edited endpoint. It seems like an intermittent issue which I believe happens only on Reddit overload.

[2017-10-11 13:53] wyantb commented on #128
Yeah, this is what my PR did.  Closing.  I'm assuming if there were major issues with this piece you'd have filed separate tickets anyway.

[2017-10-11 13:53] #128 closed

[2017-10-11 14:07] wyantb commented on #207
My general assumption is that it's just a symptom of the normal synchronization issues...there's something like 4 or 5 different POST requests to reddit in order to get a post, sticky it, then make a new post based on the contents of the delta and save the information off in a wiki - if any POST in that flow gets interrupted, because of reddit flakes or we run out of allowed requests or whatever,

[2017-10-11 14:59] Snorrrlax commented on #207
In that case, I prefer the sound of your first option, but I don't know anything about how many reads we're allowed etc.

[2017-10-13 03:27] roastchicken commented on #50
@Snorrrlax yes! I really want to finish this once and for all. I'll take a look at it again tomorrow. Thanks for the reminder.

[2017-10-14 02:06] Snorrrlax opened #209 "How to scan deltas in deleted posts during a subreddit scrape?"
I've been speaking with @MystK, and it seems that while a subreddit scrape to find all missed deltas is possible (#119), it wouldn't currently account for deltas in deleted posts.

Does anyone know how this could be achieved?

[2017-10-14 02:23] hacksoncode commented on #209
I don't know of any way. There probably isn't anything doable on reddit itself.

There might be some kind of archive out there (a site called "ceddit.com" claims to do "uncensorship", but it doesn't seem to work). No idea about feasibility of that.

[2017-10-16 09:06] nshiff commented on #207
"Clients connecting via OAuth2 may make up to 60 requests per minute."

https://github.com/reddit/reddit/wiki/API
linked from https://www.reddit.com/dev/api/

Depending on how frequently the bot runs, and how many requests it makes during each run, the 60 requests per minute may or may not be limiting.

[2017-10-16 09:18] nshiff commented on #198
@mchav According to the thread linked by Snorrrlax, user MNGrrl writes: "I think the bug is in the date comparison logic when its deciding what month it is." I recommend reading the linked thread. There is a back-and-forth with MystK.

Personally, to look into this further, it would be helpful to know:

Which users are affected, just this one?

In addition to the wrong delta count, what is the exp

[2017-10-18 12:51] roastchicken commented on #50
I've looked at [getDeltaBotReply](https://github.com/MystK/delta-bot-three/blob/master/src/utils.js#L126-L144), but my lack of experience with JavaScript is making it difficult for me to understand. @MystK could you give me an example of what the replies parameter might look like? And also, does this function always return a boolean?

[2017-10-19 03:22] MystK commented on #50
Hey @roastchicken, the easiest way to work on this ticket would be to get the bot running on your machine and debugging the code to see what goes on. It's pretty difficult if not impossible unless you do this step since you need to test it anyways. Did you have it set up? Did you need help?

[2017-10-19 11:37] #196 closed

[2017-10-19 19:09] Snorrrlax commented on #209
@MystK it looks like we'll have to ignore deleted posts in order to move forward with this, which isn't the end of the world. I expect missed deltas within deleted posts will be quite rare.

[2017-10-20 17:12] MystK commented on #196
deployed! THanks again!
________________________________
From: Snorrrlax <notifications@github.com>
Sent: Thursday, October 19, 2017 4:37 AM
To: MystK/delta-bot-three
Cc: Antoine Pham; Comment
Subject: Re: [MystK/delta-bot-three] Adding "deltas given" to delta history (#196)

Closed #196<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMystK%2Fdelta-bot-three%2Fissues

[2017-10-20 19:42] Snorrrlax commented on #185
@kevinwern any luck with this so far?

[2017-10-20 19:58] kevinwern commented on #185
Yeah, I've been working on it this week. I'll probably have something this weekend.

[2017-10-25 20:34] roastchicken commented on #50
@MystK
No, I do not yet have a running test environment setup. At least, I don't think so. I had one setup on one of my VPSes, but I don't think it's there anymore. I'll have to try to be sure, but I don't think I'll have any issues setting it up again.

By debugging, what do you mean exactly? Just `console.log`ing variables to see their values? Or is there a better way to debug JavaScript/node?

[2017-10-29 02:03] snugghash commented on #207
Can confirm that the bot does already include rate limiters based on looking at logs (correct me if I'm wrong). I'm looking over the code now, and will probably implement a solution similar to @wyantb 's option 1.

[2017-10-29 03:28] snugghash opened #211 "Deprecated: Unhandled promise rejection"
Log:
[code]
Likely occurred in `getNewCommentsBeforeCommentId` in util.js.

[2017-10-29 03:45] snugghash commented on #207
Okay, here's what i believe is happening:
`findOrMakeStickiedComment` is called, which updates an existing sticky comment or makes one. I believe this is the only place in the entire codebase that this happens.

We could add in code to scan all comments and retrieve an existing sticky from DeltaBot (currently it assumes this has been done before the function), and update if it exists within that f

[2017-10-29 21:36] wyantb commented on #207
I would definitely not make the assumption that each part of the chain is idempotent - that's why we get duplicates in the first place (unless I'm misunderstanding you). DeltaBot can make top-level comments with identical contents - not idempotent. DB can make both sticky - not idempotent. DB can make duplicate posts to the log subreddit - not idempotent. Etc.

Yip, this is what we want, to the be

[2017-10-30 02:08] Snorrrlax commented on #207
@MystK, can you assign @snugghash to this issue? I can't seem to do it.

[2017-10-30 14:18] Snorrrlax commented on #198
It's happening again just now (Ansuz07 has reduced from 14 to 10 in the monthly deltaboard).

@nshiff sorry for the delay in responding, but I'm not sure exactly how to answer your questions and was hoping someone with knowledge of the code could help. I'm not aware of any pattern, I just occasionally notice some users slipping down the ranks when they shouldn't be.

You'll be able to see it in th

[2017-10-30 16:49] MystK commented on #207
It can only be assigned to a person if they have assign to deploy to production. Simply adding the in progress and mentioning that @snugghash is actively working on this might suffice.

[2017-10-31 21:39] snugghash commented on #207
ETA Saturday. Can't really work on this right now :|

[2017-11-05 20:03] whitef530 opened #213 "DeltaBot keeps adding back deleted delta"
After sending a delete command, DeltaBot removes the delta, but adds it back later.

Post: https://www.reddit.com/r/changemyview/comments/7asfhb/cmv_i_think_the_sun_is_flat/dpcf2x8/

Modmail: https://mod.reddit.com/mail/all/29rtk

[2017-11-05 20:07] MystK commented on #213
It’s because we have error checking which thinks it accidentally forgot to add a comment. There are multiple “check comment” bots I think lasting up to 30 minutes. To be safe, wait an hour and then send the command.

Antoine
________________________________
From: whitef530 <notifications@github.com>
Sent: Sunday, November 5, 2017 12:03:32 PM
To: MystK/delta-bot-three
Cc: Subscribed
Subject: [MystK

[2017-11-05 20:23] hacksoncode commented on #213
Instead of deleting the metadata in the user's wiki page, could we just mark manually removed comments as manually removed so the bot doesn't reinsert them for any reason except an explicit "add" command?

A) It's a very significant usability headache for the mod wanting to remove a quickly reported delta to have a wait an hour (or even check each time, especially when they are doing it from the m

[2017-11-05 20:23] hacksoncode commented on #213
Doh... stupid interface... sorry about the close and reopen.

[2017-11-06 04:49] MystK commented on #213
Agreed the fix to this would be to mark delta comments that were deleted by a mod so the next queues know that it was not awarded on purpose.

[2017-11-08 19:53] Snorrrlax commented on #207
@snugghash are you still able to work on this?

[2017-11-09 18:23] snugghash commented on #207
Yeah, sorry about the lack of updates. No work done yet, planning to do
this Friday night. If someone else wants to, they're welcome.

On Wed, Nov 8, 2017 at 2:53 PM, Snorrrlax <notifications@github.com> wrote:

[2017-11-13 15:02] snugghash commented on #207
Not going well. So much has come up, and this is so far down my list... I don't think I can get this done :(
Sorry.
I'll push whatever progress I have into my fork.

[2017-11-14 18:35] mRabitsky commented on #203
@Snorrrlax I've just read #38 and #159 and I was wondering if you were still looking for an external website where you could look at various statistics and such? I would be interested in creating such a product, probably using a combination of WebSockets to read and send information from/to the actual Delta Bot (i.e. for doing things such as reading logs or sending restart/shutdown codes), and rea

[2017-11-15 02:55] Snorrrlax commented on #203
Hi @mRabitsky, definitely still interested in this! I'd be very happy if you wanted to take it forward.

[2017-11-15 02:56] Snorrrlax commented on #207
Ah that's a shame, no worries though. Perhaps you could share some thoughts on how you were going to approach this, for anyone who might take it forward?

[2017-11-16 14:48] Snorrrlax commented on #185
@kevinwern any update?

[2017-11-16 18:28] kevinwern commented on #185
I thought I commented on this but I didn't...I did a bit of work but I've been swamped with school since then. I'll take myself off the issue. I should be able to work on it in December if someone else still hasn't picked it up.

So sorry again! I didn't mean to hog this bug and I hope other people get the chance to work on it.

[2017-11-16 18:36] Snorrrlax commented on #185
Okay, no worries!

Certainly - if it's still open in December, please feel free to pick it up again.

[2017-11-17 02:38] snugghash commented on #207
@Snorrrlax Sure, but that's the major part of the work itself though.

Anyway, I was investigating, and found this:
`findOrMakeStickiedComment` relies on previous passing of the sticky comment's ID (its argument - `deltaLogPost.wikientry.stickiedCommentID`). There are two places `deltaLogPost.wikientry` is initialized other than `findOrMakeStickiedComment` - both in `findOrMakeDeltaLogPost` https:

[2017-11-19 15:27] wyantb commented on #207
Yes, I believe your understanding is correct on all accounts. If we consider the primary block:

https://github.com/MystK/delta-bot-three/blob/e60c390d434cdaad5c56b5b6cdecbfdf4e67c404/src/index.js#L767-L769

One option could be to `updateDeltaLogWikiLinks` immediately after the deltalog post is made (this could help reduce the creation of duplicate /r/DeltaLog entries), IN ADDITION TO the current

[2017-11-19 15:29] wyantb commented on #207
OH DEAR LORD https://www.reddit.com/r/DeltaLog/wiki/revisions/internal HASN'T BEEN UPDATED IN 7 MONTHS. This is the wiki page the code uses to store links to the /r/DeltaLog posts it has made...eek. Has it hit the max wiki size limit? It's all > 6 months anyway, reddit archives content after that point right? I think we should axe all the content of the whole wiki page.

[2017-11-19 15:43] wyantb commented on #207
Actually...who's got logs to the bot? https://www.reddit.com/r/DeltaLog/wiki/internal only lists a content-length of some 128 KB - is that already hitting the limits? Hrm.

For now I've cleared the content of the wiki page and taken a backup of the JSON that was within the param start/end tags:
[reddit-wiki-contents.json.txt](https://github.com/MystK/delta-bot-three/files/1485685/reddit-wiki-conte

[2017-11-20 01:14] wyantb commented on #207
Hah, sweet. I'm seeing good stuff in https://www.reddit.com/r/changemyview/comments/7e31g5 so clearing the deltalog internal wiki page should've gone a loooooooong way to help with this.

Still, this problem supports the idea of us having our own data store. Reddit capping what we can put in a wiki at a measly 128 KB certainly sounds to me like we should get a bigger box to run this thing on and h

[2017-11-20 06:11] MystK commented on #207
Ya looks like we'll need to move to a database
________________________________
From: Brian Wyant <notifications@github.com>
Sent: Sunday, November 19, 2017 5:14 PM
To: MystK/delta-bot-three
Cc: Antoine Pham; Mention
Subject: Re: [MystK/delta-bot-three] Multiple Stickied Comments & DeltaLog Posts (#207)

Hah, sweet. I'm seeing good stuff in https://www.reddit.com/r/changemyview/comments/7e31g5<htt

[2017-11-20 12:26] Snorrrlax commented on #207
@hacksoncode what are your thoughts on this?

[2017-11-20 16:08] hacksoncode commented on #207
How big an instance do we need? I'm ok with paying for a somewhat larger one...

Everything would have to be migrated, because apparently you can't just "upgrade" a 128MB instance at RamNode (though maybe they'd do it if we asked nicely, I don't know)... but that would true elsewhere too.

[2017-11-20 17:08] Snorrrlax commented on #207
Side note: Is there a way for any willing mods to add to a sort of "money pool" that pays for this? I wouldn't mind chipping in - you shouldn't have to cover it yourself. Maybe there could even be a donation button for our users if it gets more expensive.

[2017-11-20 18:12] hacksoncode commented on #207
At the present time that's not necessary, but I'll let you know.

[2017-11-21 01:04] wyantb commented on #207
I doubt I know for sure, though I'm guessing a `2GB SVZS` would do the trick for $7/month or a Scaleway `C1` (https://www.scaleway.com/) 3EUR/month.

On a DB implementation: https://github.com/level/levelup looks like a pretty dang simple key value store, backed by some pretty good heavyweights. `yarn add levelup leveldown` and their code snippets look very straightforward - I just ran that yarn c

[2017-11-21 05:41] hacksoncode commented on #207
I'm ok with either of those options... (the C1 service at scaleway seems to be ARM based, but it looks like they have a similar X64 service with basically the same stats for the same price).

What would be the best way to migrate?

Anyway, you guys let me know what you decide and I'll take care of setting up the server instance...

[2017-11-21 14:33] Snorrrlax opened #215 "Mark manually removed deltas"
As requested by @hacksoncode in [issue 213](https://github.com/MystK/delta-bot-three/issues/213):

[2017-11-21 14:34] Snorrrlax commented on #213
I opened a new issue, so I'll close this one.

[2017-11-21 14:34] #213 closed

[2017-11-21 14:37] Snorrrlax commented on #203
@hacksoncode I believe mRabitsky has started work on a separate website to log actions, stats, etc. Do you still see utility in logging some things on DeltaBot's page as well? Perhaps a weekly report?

[2017-11-23 02:23] Snorrrlax commented on #207
@wyantb and @MystK: Thoughts on how to migrate? Also, is doing this & merging wyantb's PR a likely end to this problem?

[2017-11-23 02:33] wyantb commented on #207
Ah, sorry for slow response time - busy as ever.

For migrating, zipping the whole directory of the DeltaBot wherever it's deployed - minus `node_modules` - should do the trick, then you could `yarn install` the deps back into place on the target machine.

The largest source of this bug, though, by far should have been the inability to edit the internal wiki page. With that addressed, we should ha

[2017-12-01 12:26] whitef530 opened #217 "Users giving Deltas to themselves"
This user was able to self-award a delta:

https://www.reddit.com/r/changemyview/comments/7grmx0/cmv_a_dna_test_should_be_required_to_be_listed_as/dqllm1g/

Can we disallow self-awarded deltas, just like deltas awarded to OP?

[2017-12-01 17:46] MystK commented on #217
That's odd as I thought we have code in here already to disallow awarding a delta to yourself. A left over debug mode maybe made it into production?
________________________________
From: whitef530 <notifications@github.com>
Sent: Friday, December 1, 2017 4:26 AM
To: MystK/delta-bot-three
Cc: Subscribed
Subject: [MystK/delta-bot-three] Users giving Deltas to themselves (#217)

This user was able t

[2017-12-02 13:34] wyantb commented on #217
Yeah, we have code for that. All the comments linked are deleted there so I can't really see what's going on...did they make another user with similar-looking names that aren't identical, like bIb and b1b or something?

/Users/brianwyant/repos/delta-bot-three/src/utils.js, lines 87-93:

[code]

[2017-12-02 17:04] Snorrrlax commented on #217
@wyantb, I've temporarily re-approved these comments so you can check them.

[2017-12-02 17:19] wyantb commented on #217
Hmm, don't see anything funny there. Maybe we should be using `author.name` here? An earlier guard indicates that our data may not be clean as the code is assuming:

/Users/brianwyant/repos/delta-bot-three/src/utils.js, line 64:

[code]

[2017-12-07 21:16] ansuz07 commented on #191
Seems to have happened to me as well.

[2017-12-07 23:21] hacksoncode commented on #191
I would tend to suspect the recent reddit server problems for this.

Maybe it would be worth adding some consistency checking into the code? Like read the data after writing and try again if it's different? Not sure how that would best be done, though.

[2017-12-08 20:45] whitef530 opened #218 "[∆(s) from OP] flair missing"
I've noticed several threads recently where despite being deltas awarded from the OP, there is no [∆(s) from OP] flair, which had to be added manually.

https://www.reddit.com/r/changemyview/comments/7i22gb/cmv_donald_j_trump_should_have_been_times_person/?st=jaxdk8au&sh=48f1601f

https://www.reddit.com/r/changemyview/comments/7i9rco/cmvbackstabbing_democrats_are_making_me_starting/?st=jaxdhtwz&sh

[2017-12-10 22:28] Snorrrlax commented on #207
@hacksoncode, thoughts?

[2017-12-12 19:59] mcandre opened #219 "README: Explain what delta-bot actually does"
So delta-bot is some kind of Reddit bot that participates in conversations relating to people changing their perspectives. But what does that actually mean? Is delta-bot a moderator? Does delta-bot help users find a delta (`Δ`) symbol to copy? Does it prompt users to explain how their view has changed? What does this bot do?

[2017-12-12 21:12] hacksoncode commented on #219
Several things, but basically it watches for people (properly) putting a delta symbol into their comments to award someone a delta, records the delta in some wiki pages, posts a distinguished comment "awarding" the delta (or rejecting it for not fitting the rules), and increments the awarded users's delta flair. It also keeps track of the delta leaderboards.

[2017-12-12 21:12] #219 closed

[2018-01-03 01:47] Snorrrlax opened #220 "DeltaBot didn't ignore this quoted delta"
Here: https://www.reddit.com/r/changemyview/comments/7nqgf9/cmv_i_envy_narcissists/ds3rtgh/

[2018-01-03 15:51] hacksoncode commented on #220
I think there might be an existing issue related to "!delta" not being "protected" by reddit quotes.

[2018-01-05 10:23] whitef530 opened #221 "DB repeated delta awarded message several times"
https://www.reddit.com/r/changemyview/comments/7o42do/cmv_beginning_in_high_school_american_students/ds6wr05/

[2018-01-06 16:33] wyantb commented on #207
OK, I updated the PR associated here, see https://github.com/MystK/delta-bot-three/pull/222 . This now uses `levelup` (backed by a `leveldown` db) to store the deltalog link information, rather than the old `internal` wiki page. We'll definitely want to get it merged and deployed within a month or two so that we don't run out of space on the internal wiki and have the deltalog stuff go haywire aga

[2018-01-06 16:34] wyantb commented on #205
Yeah, there's no retry logic associated with any of the deltalog functionality. Should get #207 in first before worry about this ticket

[2018-01-06 16:37] wyantb commented on #197
I've proposed using a levelup DB in #222 , since we definitely hit a limit on the deltalog internal wiki. I think moving in that direction is better for the long-term than compressing the wiki data, since we could still end up having too much to store there, and we can take our own backups this way.

[2018-01-06 21:33] hacksoncode opened #223 "Upgrade server (?)"
There has been discussion about upgrading the server to a higher class of VM.

This is a place for discussions/decisions about exactly what we need, why, etc.

I'll close it either by upgrading the server or if we decide not to do so.

[2018-01-06 23:43] wyantb commented on #221
Looks like a duplicate of #184. @Snorrrlax are you OK with closing this one out to consolidate into the other?

[2018-01-06 23:46] Snorrrlax commented on #221
Sure!

[2018-01-06 23:46] #221 closed

[2018-01-06 23:48] Snorrrlax commented on #221
Actually, is it definitely a duplicate? Because these extra comments are undistinguished, but in the other issue they're both distinguished.

[2018-01-07 00:37] wyantb commented on #221
They've probably got similar enough root causes. A comment in the other one linking this post and describing how they're subtly different would go a long way if you're worried.

[2018-01-07 00:38] wyantb commented on #204
Another possible solution would have us move more in the direction of storing responses that have been awarded in a database folder, like I do with some of my changes in #207. I started changes along these lines but we should get that all settled in first before putting further bets on any `leveldb` usage.

[2018-01-07 00:45] Snorrrlax commented on #204
#50 is similar, @roastchicken didn't get to it in the end

[2018-01-07 00:47] Snorrrlax commented on #204
In fact there is some good discussion in there and a couple of extra conditions so I wonder if this issue should be closed?

[2018-01-07 00:48] wyantb commented on #223
It's mostly me arguing for this, in #207, so I'll summarize my reasoning. Thoughts from @MystK also welcome. I think we should move to a larger instance so that we can have the disk space to write out a database using `leveldb` (see https://github.com/MystK/delta-bot-three/pull/222 ). A `2GB SVZS` would give the bot plenty of room to grow, and might even help reliability/deployability (we could `y

[2018-01-07 01:00] Snorrrlax commented on #184
As mentioned in #221, there's a variation of this where DeltaBot's duplicate comments are undistinguished. Not sure if the difference is significant.

[2018-01-07 03:49] MystK commented on #223
I'm not too familiar with the specs we require to run a database with DB3, but I agree that we need a database, and if it means we need a larger server, I think it's necessary.

I've already ran into issues of installing dependencies that @wyantb is talking about also, and it becomes especially hard when we're dealing with compiling on windows and deploying to linux servers. A larger server would

[2018-01-07 04:24] mitchell271 commented on #223
I've finally got time to actually work on this project. Are things hosted on AWS ATM? An RDS instance would solve this issue.

On Jan 6, 2018, 22:49, at 22:49, Antoine Pham <notifications@github.com> wrote:

[2018-01-07 17:44] wyantb commented on #223
hacks has mentioned that the current server is running on RamNode, so I've tended to compare prices using their plans https://www.ramnode.com/vps.php . i.e. no, not on AWS right now. An RDS instance, even at the t2.micro levels, seems to bottom out around $10 per month just for the DB. Personally I don't think we need an external DB, see my proposal for initial integration with an on-disk one in h

[2018-01-08 02:02] mitchell271 commented on #223
Gotcha. Considering the size of the sub and the amount of activity the bot
has, 1GB svzs should enough for a while imo. If it's on disk, and there's
worry about portability when/if migrating to a larger instance, why not
wrap it in a Docker container with a companion Redis container? I realize
that's more overhead (and potentially unneeded work), but it would allow
for more flexibility.

On Sun, J

[2018-01-08 16:48] Snorrrlax commented on #185
@kevinwern is there a possibility of you working on this again?

[2018-01-08 19:03] MystK commented on #223
@mitchell271 are you suggesting having two VM instances? One with docker that we can easily migrate which interfaces through the network with a second VM redis instance which cannot be easily migrated?

[2018-01-08 19:08] mitchell271 commented on #223
Sorry, should've been more specific. I meant wrap the DB in a container. It could run on the same VM, but allow for easy expansion if needed in future.

So single VM with an on disk DB, with the DB in a container. The bot could be put in a container at a later date as well. That said, if I'm completely jumping the gun, feel free to ignore all of this.

On Jan 8, 2018, 14:03, at 14:03, Antoine Pham

[2018-01-08 21:27] MystK commented on #223
@wyantb has already introduced a database called level and it is actually part of the node application, but I think dockerizing the environment would be helpful for easily migrating from instance to instance, although I don't know how we'll handle the database. If you're willing to take up the project of dockerizing DB3 and handling the database migrations, it would be much appreciated.

[2018-01-08 21:43] hacksoncode commented on #223
If it helps any... if we update DeltaBot to use a bigger instance because it needs a database, I think it would be a "nice to have" if that were an option that someone could turn off...

We occasionally get asked if someone can use the bot code, and not everyone will want all the spiffy features if it actually costs them significant money.

But that's definitely optional if it complicates the desi

[2018-01-09 02:16] wyantb commented on #223
@hacksoncode Do you have any active examples of other folks actively using the bot code for other subreddits/purposes? I imagine that would be fairly difficult with all the other features that are hardcoded, sticky responses etc. I figure they would need to fork the project anyway, which is best done by someone who knows how to rip out irrelevant code. To help folks with that in the future, we cou

[2018-01-09 02:18] wyantb commented on #223
Oh, right...

I agree with MystK's comments here. If we stick with `level` (the on-disk DB) and opt for docker, we could just write to the writeable layer of the container and call it a day.

[2018-01-09 03:19] hacksoncode commented on #223
Well it happened with each of the previous 3 instantiations of DeltaBot... but maybe that ship has sailed as far as easily being able to do it with the current version. As I said, it's not a requirement, just a nice-to-have.

But by all means have a vote and let me know what to do, and when.

[2018-01-09 03:30] mitchell271 commented on #223
I can do the docker implementation. I introduced it to our stack at my
previous job, so I feel like I've got at least a bit of a handle on it.
Plus, because I'm not super familiar with the codebase, it would give me a
chance to learn parts of it and which are the most crucial. Absolute worst
case, docker stuff goes nowhere or we have someone used to managing swarms
take it over in future.

On Mon,

[2018-01-11 01:40] Snorrrlax commented on #223
@MystK do you have a decision on this? Hacks can then move forward with what you and @wyantb suggest.

[2018-01-11 19:49] Snorrrlax opened #224 "Remove replies to the sticky comment, and PM the user"
Cases like this: https://www.reddit.com/r/changemyview/comments/7pja9y/cmv_giving_your_child_a_hardtospell_first_name_is/dshxg09/

Where a user has replied to DeltaBot's sticky comment, either thinking that they've responded to the OP, or making an observation of the entire thread. We don't really want these, so it would be great if DeltaBot could automatically remove them, and PM the user to let

[2018-01-11 20:06] MystK commented on #224
What would you like DB3 to say?

[2018-01-11 20:17] Snorrrlax commented on #224
And then end with the usual "I am a bot, message the moderators" footnote.

[2018-01-20 13:48] Snorrrlax commented on #223
@hacksoncode shall we go with @wyantb's suggestion? Then we can merge his PR.

[2018-01-20 21:20] hacksoncode commented on #223
To double check my understanding:

The proposal is to buy a RamNode 1024MB OpenVZ SSD VPS (SVZS) instance.

The team will handle the task of migrating DeltaBot (and I guess the new ModBot?) there.

Is that correct?

I am ok with covering the price of that myself ($3.5/month).

I'll do that as soon as MystK approves.

[2018-01-22 23:04] MystK commented on #223
Thumbs up from me and thanks @hacksoncode. I know it's an arm and a leg compared to the original price. ;)

[2018-01-22 23:46] hacksoncode commented on #223
Forgot to ask:

I need to verify which of their supported OS's we want installed (old one was CentOS 6 64-bit).

Also, though I don't think this is too critical, what the server name should be. I still have the hopto.org account for my own purposes, so I can add another DDNS link there. Maybe CMVBot.hopto.org in case we decide to host the CMVModBot there some day, too?

[2018-01-22 23:51] wyantb commented on #223
I don't think the server OS matters too much - as long as the most recent
version of node supports it. I'm sure cent is fine if it was what you were
using before.

Brian Wyant (Phone)

On Jan 22, 2018 18:46, "Ray Trent" <notifications@github.com> wrote:

[2018-01-22 23:57] MystK commented on #223
agree with @wyantb that any OS is fine but the same version as before would make it easier for me to redeploy and set everything up.

The server name makes no difference to me so whatever you want to name it to future proof it.

[2018-01-23 00:03] hacksoncode commented on #223
Ok, it's bought and live. Hostname is CMVBot.hopto.org. Same account as the old machine, so you guys should have access. Let me know if that assumption turns out to be wrong (and preferably what I need to do to fix it :-).

[2018-01-23 00:05] Snorrrlax commented on #223
@perezdev What are your thoughts on CMVModBot sharing with DeltaBot here?

[2018-01-23 00:13] hacksoncode commented on #223
I guess one detail is the login details... I think the solusVM client page probably will still work with the old account information, but I've totally forgotten/lost the password for that. The username they're showing for that account is RNuser48305... I don't remember if that's the same one.

Anyway, let me know how to send the temporary password to what "responsible party" (MystK, I assume), and

[2018-01-23 00:15] MystK commented on #223
I have the password for RNuser48305 and can provide to @perezdev. I think it's different credentials for each VM though but I may be wrong. I will check tonight.

[2018-01-23 03:55] perezdev commented on #223
@Snorrrlax @MystK I'm good with whatever solution we want to go with. I was originally planning on hosting the bot on Azure. But it looks like we want to go with RamNode?  The bot requires Windows on .NET Framework 4.6. Will that be a problem?

[2018-01-23 03:59] hacksoncode commented on #223
Sounds like that's not a good match. It's unfortunate that we have bots running on relatively incompatible systems, but that's the way the cookie tracks you :-).

[2018-01-23 05:16] MystK commented on #223
My bot can run on any OS so if we choose to go with Windows that’s fine, but from my experience it’s pretty expensive.

Antoine
________________________________
From: Ray Trent <notifications@github.com>
Sent: Monday, January 22, 2018 7:59:50 PM
To: MystK/delta-bot-three
Cc: Antoine Pham; Mention
Subject: Re: [MystK/delta-bot-three] Upgrade server (?) (#223)

Sounds like that's not a good match. I

[2018-01-23 18:20] MystK commented on #223
Just checked the logon and I can confirm I have access to both of the VMs. I'll do the migration this week.
________________________________
From: Antoine Pham <its@phamap.net>
Sent: Monday, January 22, 2018 9:16 PM
To: MystK/delta-bot-three; MystK/delta-bot-three
Cc: Mention
Subject: Re: [MystK/delta-bot-three] Upgrade server (?) (#223)

My bot can run on any OS so if we choose to go with Windows

[2018-01-24 19:47] MystK commented on #223
I completed migration of the old server to the new server and verified that everything is working in production. @hacksoncode you can now cancel the old server.

The last step before closing this ticket is moving the staging server from my own personal ramnode server to the new server hacksoncode made since now there is more bandwidth.

[2018-01-24 20:28] Snorrrlax commented on #223
Nice!

Is there any way DeltaBot can align with @perezdev's CMVModBot here?

[2018-01-24 21:42] MystK commented on #223
align as in use the same environment? Yes DB3 can run on any environment, so if you guys have a machine that is compatible with @perezdev 's bot, I can migrate it over there. Just say the word.

I've successfully moved staging to the new environment and will now be closing this ticket.

[2018-01-24 21:42] #223 closed

[2018-01-24 22:11] Snorrrlax commented on #223
Okay, I'm not really sure what that means, but hopefully @hacksoncode, @perezdev, @wyantb and yourself can liaise on this.

[2018-01-24 23:18] perezdev commented on #223
@MystK @Snorrrlax I'll need to test on a Windows RamNode to make sure it'll work. I imagine it will though

[2018-01-25 12:21] Snorrrlax commented on #204
Happened again: https://www.reddit.com/r/changemyview/comments/7stlru/cmv_cultural_relativism_is_absurd/dt7fxgl/

[2018-01-25 12:22] Snorrrlax commented on #184
Happened again: https://www.reddit.com/r/changemyview/comments/7stlru/cmv_cultural_relativism_is_absurd/dt7fxgl/

[2018-01-25 17:52] MystK commented on #223
From my searching Ramnode only supports Windows Server 2008 R2 Web (x86_64) and we would need to upgrade our instance again. I'm not too familiar with Windows on Ramnode, but I wouldn't think it has good support. It might be good to explore other options also.
________________________________
From: perezdev <notifications@github.com>
Sent: Wednesday, January 24, 2018 3:18 PM
To: MystK/delta-bot-th

[2018-01-25 18:49] perezdev commented on #223
It might be good to just stick with Azure then since it's free and supports the app. It's one more system to manage, but free is always good. Although we'll have to re-evaluate it if we exceed the free parameters. But it doesn't look like we will from my initial review.

[2018-01-25 18:52] MystK commented on #223
I was under the impression that Azure Virtual Machines did not have a free tier. Are you using that or a different Azure service?

[2018-01-25 19:37] perezdev commented on #223
I'm running it as a WebJob. I did an initial test a month or so ago and it seemed to work okay. No I just need to make sure the full bot works now.

[2018-02-12 02:04] hacksoncode commented on #184
Still happening:

https://www.reddit.com/r/changemyview/comments/7wx1nd/cmv_abrahamic_god_cannot_exist_organised_religion/du3uwqw/

[2018-02-14 19:26] hacksoncode commented on #187
Should this still be open? Or has it been overcome by another bug having to do with using a database (which only recently became possible due to the server upgrade).

I'm actually more in favor of MystK's suggestion of having DB leave a comment in cases where we remove a delta... to explain that it was removed intentionally, and maybe leave an appeal link...

[2018-02-15 01:22] MystK commented on #187
Yes still an issue I believe. We need to modify DB3 to leave a comment/notesaying that this delta was manually removed(hidden or public doesn't matter)
________________________________
From: Ray Trent <notifications@github.com>
Sent: Wednesday, February 14, 2018 11:26 AM
To: MystK/delta-bot-three
Cc: Antoine Pham; Comment
Subject: Re: [MystK/delta-bot-three] Delete command bug (#187)

Should this

[2018-02-15 01:26] MystK opened #225 "Error logs"
@wyantb found some errors in the error logs. Unknown root cause at the moment but I think it requires investigation.

[code]

[2018-02-15 02:02] MystK opened #226 "Redesign"
I think DB3 has evolved over time from a simple "check comments" bot to much more.

It does many things now:
Check comments for deltas
Second check comments for deltas
Rescan Edited Comments
Rescan shadow edited comments
User History Page
Yearly Deltaboard
Weekly Deltaboard
Monthly Deltaboard
First time delta PMs
Delta logs
Sticky deltas awarded comment
Mod commands

From looking at the code you c

[2018-02-15 12:26] wyantb commented on #225
Oof, yeah, definitely warrants investigation. Is this related to the bot being down that someone posted in the Slack channel about? Do you have a full copy of the logs stored anywhere, or at least the last MB of them or something?

I've set myself a reminder, but please poke me again tomorrow/Saturday. Unfortunately no free time for it today :(

[2018-02-15 22:09] Snorrrlax opened #227 "Missing deltas during yesterday's down time"
DeltaBot hasn't scanned back through comments to find those missed during a period of 12 hours. Can we force it to?

[2018-02-15 22:14] MystK commented on #227
I had tried to reset DB3 to it's state before it crashed and I thought it grabbed all the deltas.

One thread I saw that it was missing deltas was:

https://www.reddit.com/r/changemyview/comments/7xj2sz/cmv_under_us_common_law_illegal_immigrants/

Are there any other cases of missing deltas?

[2018-02-15 22:23] Snorrrlax commented on #227
As far as I'm aware, it only started awarding new deltas when it was rebooted. I saw quite a few old ones that were missed, and we received a few messages asking about it.

We had to use the add command on this one: https://www.reddit.com/r/changemyview/comments/7xirrw/cmv_fisking_is_a_good_way_to_reassure_people_who/du8kt0r/

[2018-02-20 20:48] Snorrrlax opened #229 "New delta token"
Please add the following HTML entity as a delta token:

**&amp;Delta;** (needs the capital letter)

[2018-02-22 04:33] MystK commented on #229
Is that why we miss deltas sometimes?

[2018-02-22 15:31] hacksoncode commented on #229
It's hard to say... it depends on whether you get a translated string or raw HTML when looking at the comment body. If the latter, it wouldn't surprise me, but I've never actually seen anyone use this when I've done a show-source on a post. On the other hand, it's rare that I've done that...

[2018-02-22 22:41] Snorrrlax commented on #203
@mRabitsky Hi, are you still interested in working on an external website?

[2018-02-22 22:44] Snorrrlax commented on #207
@wyantb is this permanently fixed now, or was a temporary measure used?

[2018-02-23 03:15] wyantb commented on #207
As long as the box doesn't run out of disk space, the wiki space issue is permanently worked around.

The separate general principle - that we can't atomically issue a batch of commands against reddit API servers, such that if some intermediate steps fails its hard to recover from - wasn't tackled. I don't know how much of an issue this is in practice.

So...how's it been behaving for the past 4 w

[2018-02-23 03:19] wyantb commented on #229
/home/brian/repos/delta-bot-three/src/utils.js, lines 21-24:

[code]

Seems to already be using a case-insensitive matching - that's the `/i` part of the `!delta/i`...on the other hand, we accept `!delta` but not `&delta`. So accepting the latter as well would be trivial.

[2018-02-23 07:15] #229 closed

[2018-02-23 07:37] MystK commented on #195
saw that this was fixed

[2018-02-23 07:37] #195 closed

[2018-02-23 08:08] MystK opened #232 "Monthly deltaboards are incorrect because DeltaBot activity has drastically increased"
Our current method of figuring out the Monthly deltaboards don't work anymore.

Because there is so much DeltaBot activity now, it looks like the current method only looks back at the last 16 days.

At time of development of the monthly deltaboards, I think it was able to look back 40-50 days. I didn't expect activity to increase this drastically.

Looks like we need to find a new solution.

[2018-02-23 08:09] MystK commented on #232
#198

[2018-02-23 12:51] Snorrrlax commented on #232
Rather than looking back X days, is it possible for the bot to be aware of dates and only check back to the 1st of the month?

[2018-02-23 14:51] hallidev commented on #226
I needed some practice setting up an enterprise quality solution in .NET Core and needed something to build, so purely as an exercise I started building "DeltaBot 4". Once I got to about 25% (maybe less) of DB3's current functionality, I felt I'd done what I set out to and set it aside.

I've made the repo public, feel free to take a look. If nothing else it might give you some perspective on a po

[2018-02-23 18:52] MystK commented on #226
@hallidev this is pretty great. Would you be willing to handle deltaboards? One of the biggest issues we have right now is correctly handling deltaboards, the monthly, yearly, and all time specifically. At the moment they are just a chron job so they can easily be disabled on DB3 and moved to DB4.

[2018-02-23 18:59] MystK commented on #232
Yes it actually does what you mention.

The exact logic is

[code]

The problem is, it hits, "Are there any comments left to grab? => If no, STOP" before it hits the 1st of the month, because of so much DeltaBot activity ;)

[2018-02-23 19:39] hallidev commented on #226
@MystK So deltaboards are kind of where I left off since I hadn't built in a persistence mechanism like how you're using levelup DB. There are already things I built into this codebase that would be better served with a small DB.

I'd be happy to contribute with a deltaboard redesign along with bringing in a proper local db of some sort. I actually enjoyed building this out, so if there's interest

[2018-02-23 19:50] Snorrrlax commented on #226
From a mod POV, I will defer to @MystK's judgement on this. Perhaps @hacksoncode could offer some thoughts, but I'm afraid I'm not sure what any of this means :P

All I know is, if this moves things closer to a robust, complete DeltaBot - I'm happy!

Also, CMVModBot is written in C#, so my gut says it might be good to align in that regard? https://github.com/perezdev/CMVModBot (cc: @perezdev)

[2018-02-23 19:58] MystK commented on #226
In my opinion I don't think it matters what language it's built in, as long as it works. I actually do 50/50 .NET core/JavaScript development at work, so I can assist you, but I'd prefer that you take the lead.

For some insight into how our current deltaboards work, we actually don't use a DB. For the weekly and monthly deltaboards, we look through DeltaBot's comments and create the board from sc

[2018-02-23 20:05] Snorrrlax commented on #226
My only concern is the warnings you hear about rewriting code. This will be our fourth attempt (technically fifth) - will we finish it?

Also tagging @wyantb due to significant contributions

[2018-02-23 20:08] MystK commented on #226
We probably shouldn't thinking about it as a rewrite though. DeltaBot, in my opinion, is actually a combination of "modules" like:
Handling deltaboards
Handling awarding comments
Handling updating flairs
Handling wiki pages
Handling delta logs
Handling mod commands
Handling edited comments

These modules share sort of similar functionality, but in actually they can be completely isolated environme

[2018-02-23 21:05] Snorrrlax commented on #226
Well, I'm sold! Thoughts, @MystK?

[2018-02-25 06:03] MystK commented on #226
Agreed, everything sounds great. @hallidev, perhaps what we could do is a piece by piece migration to DB4 and we could start with deltaboards?

DB3 separates handling mod commands and put that also on a chron job. Perhaps you can handle that next?

Regarding the rest of the modules, DB3 does all of them together, so it can't be easily split and would have to be upgraded together.

What do you thin

[2018-02-25 10:41] hallidev commented on #226
All makes sense to me. I'm handling the delta boards as a command line arg sent to a console app meant to be called from a cron job. They will definitely be a stand alone feature.

Regarding the hidden JSON data, everything I've built so far is a direct port of the existing code, so it reads and writes all the same stuff in the same format.

[2018-02-25 13:36] wyantb commented on #226
Cool! Actual pub/sub mechanisms would go a long way to help individual bits and pieces of logic to stay sane, and type safety is always handy as well. It's been a few years since I've written C# but everything I looked at real quick is plenty legible in my book. Slap some (more?) tests on there for the service implementations and that could serve as a really excellent platform as it grows.

Am I r

[2018-02-25 15:07] hallidev commented on #226
Everything is .NET Core 2, so it shouldn't be an issue to open everything with your preferred environment. It should be able to run anywhere. I'm using Visual Studio so there's a .sln file, etc., but it's definitely not required.

Regarding RedditSharp - you bring up a good point. This API wrapper is pretty well built and has nice features, but the maintenance is spotty and I had some issues when

[2018-02-25 19:37] hacksoncode commented on #223
Just cancelled the old server.

[2018-02-25 19:38] MystK commented on #223
Congrats to the official move to the new server!

Antoine
________________________________
From: Ray Trent <notifications@github.com>
Sent: Sunday, February 25, 2018 11:37:17 AM
To: MystK/delta-bot-three
Cc: Antoine Pham; Mention
Subject: Re: [MystK/delta-bot-three] Upgrade server (?) (#223)

Just cancelled the old server.

—
You are receiving this because you were mentioned.
Reply to this email d

[2018-02-25 19:39] hacksoncode opened #233 "DB was not awarding deltas for 13 hours, had to reboot server"
We should try to get to the root cause of why it's hanging/stopping awarding.

Did we ever create a management console for easier/more effective restarting of the bot as opposed to just rebooting the whole VM? I think there was an issue about that, but I'm not seeing it at first glance.

Also, I'm not sure if there's anything else running that doesn't autostart... I would assume not, but let me kn

[2018-02-25 19:41] wyantb commented on #233
Poop. If this wasn't happening before `level` db usage, that's a fair first guess as to the cause. (The other fair first guess would be something about the VM/node version...could test those out by using an old build of the bot on the current system).

Got logs from the bot preceding the shutdown?

[2018-02-25 19:47] hacksoncode commented on #233
Sorry, unfortunately, I don't know how to get logs from the bot... it was a somewhat emergency situation as lots of deltas were being missed.

What is the procedure for that?

[2018-02-25 19:49] hacksoncode commented on #233
Hmmmm... actually, though... it doesn't seem to be working on the backlog yet, since I restarted the VM 10 minutes ago... does something else need to be done, or is that an expected delay?

[2018-02-25 19:49] MystK commented on #233
I might be able to whip up a super fast management console with logs and reboot buttons.

[2018-02-25 20:13] hacksoncode commented on #233
Other mods are saying that DB never caught up to the backlog the last time this happened, either. Can we just use this bug for investigating why that is? Or should this stay limited to why it hangs and a new bug entered about not catching up on reboot?

[2018-02-25 21:32] hacksoncode commented on #233
BTW, DB is still having no activity, even in response to manual add commands.

Something is seriously wrong with our little friend.

[2018-02-25 21:50] Snorrrlax commented on #226
A few questions:

Would it be worth renaming this? Something about "DeltaBot v4" suggests we need new versions. Something that sounds more final might help it _be_ final.

Speaking of which, could we work to milestones/a timeline on this?

Will the deltaboard module you're working on just now update the wiki page (daily, weekly, monthly, yearly, all-time) as well as the sidebar?

[2018-02-25 21:54] MystK commented on #233
On the road. Someone needs to ssh into the server and manually start DB3. I might have not added auto start on reboot.

Log in as db3 user
Cd to delta-bot-three
Nvm use
Npm run startProduction

I will be home in like 2-3 hours if anything

Antoine
________________________________
From: Ray Trent <notifications@github.com>
Sent: Sunday, February 25, 2018 1:32:14 PM
To: MystK/delta-bot-three
Cc: Ant

[2018-02-25 23:38] hacksoncode commented on #233
Well, damn... it turns out that I can't find the password for any accounts on the new server that work.

[2018-02-25 23:39] MystK commented on #233
Restarted it. It’s working now. On the road and will check it out again when I get home.

Antoine
________________________________
From: Ray Trent <notifications@github.com>
Sent: Sunday, February 25, 2018 3:38:31 PM
To: MystK/delta-bot-three
Cc: Antoine Pham; Comment
Subject: Re: [MystK/delta-bot-three] DB was not awarding deltas for 13 hours, had to reboot server (#233)

Well, damn... it turns o

[2018-02-26 00:35] MystK commented on #233
So something is definitely up with the server. I wasn't able to get it working on the virtual machine and am running production on my computer at the moment. I'll be spending today to figure out what's exactly wrong and to see if I can improve reliability.

[2018-02-26 00:35] MystK commented on #233
Also apologies from my side. I think DB3 has been unstable recently because I have been pushing changes to production without thoroughly testing it in staging. I think there are issues with the automatic deployment at the moment. That is the root cause.

[2018-02-26 05:22] MystK opened #234 "findDeltaLogPost.get is not a function"
![image](https://user-images.githubusercontent.com/7399140/36654494-e19aeeec-1a71-11e8-953d-ccb876428592.png)

Guessing this is related to not being able to find the deltalog post in the db? @wyantb

[2018-02-26 05:22] MystK opened #235 "Investigate crashing issue"
![image](https://user-images.githubusercontent.com/7399140/36654504-f8813792-1a71-11e8-8e32-1ba6c2f467ac.png)

Logs are not too helpful. Just says that it crashed.

[2018-02-26 05:44] MystK opened #236 "{"message": "Too Many Requests", "error": 429} on ramnode server"
DB3 is not working in production ramnode server for some reason.

Investigate. In the mean time, run it in my local machine.

[2018-02-26 05:48] MystK opened #237 "autostart db3 on server restart"

[2018-02-26 05:54] MystK commented on #234
pretty sure I fixed it

[2018-02-26 05:54] #234 closed

[2018-02-26 08:48] MystK commented on #211
I'm pretty sure this specific issue is related to issues with your DNS server or internet. Will close for now unless it can be reproduced.

[2018-02-26 08:48] #211 closed

[2018-02-26 08:49] MystK commented on #168
Closing due to issue clean up

[2018-02-26 08:49] #168 closed

[2018-02-26 08:49] MystK commented on #165
Closing due to issue clean up

[2018-02-26 08:49] #165 closed

[2018-02-26 08:49] MystK commented on #164
Closing due to issue clean up

[2018-02-26 08:49] #164 closed

[2018-02-26 08:49] MystK commented on #162
Closing due to issue clean up

[2018-02-26 08:49] #162 closed

[2018-02-26 08:49] MystK commented on #160
Closing due to issue clean up

[2018-02-26 08:49] #160 closed

[2018-02-26 08:49] MystK commented on #161
Closing due to issue clean up

[2018-02-26 08:49] #161 closed

[2018-02-26 08:49] MystK commented on #163
Closing due to issue clean up

[2018-02-26 08:49] #163 closed

[2018-02-26 08:50] MystK commented on #159
Closing due to issue clean up

[2018-02-26 08:50] #159 closed

[2018-02-26 08:50] MystK commented on #156
closing because not relevant at the moment. The yearly deltaboard approach has a bug in it

[2018-02-26 08:50] #156 closed

[2018-02-26 08:52] MystK commented on #218
Hmm, are you sure it's not because the flair you see is actually saved at that point in time?

EX: after a delta comment, the flair of the comment being deltaed actually does not get updated. You only see it when the user comments again.

I've had this happen to me also.

[2018-02-26 09:03] Snorrrlax commented on #218
AutoModerator is the bot that updates link flair. It does it regardless of whether DeltaBot awards a delta, because its config is set to "if OP comment contains delta, update flair"

[2018-02-26 11:18] hallidev commented on #226
The initial work will be the daily / weekly / monthly / yearly / all-time. I'll need to take a look at the sidebar, but if it's supposed to be updated as part of the delta board process I'll make sure it's included.

Regarding the naming, it's currently named "DeltaBotFour". We should probably do this deltaboard stuff first before going all in with it though. I'm open to whatever people want thoug

[2018-02-26 12:10] Snorrrlax commented on #226
Thanks! Yeah, the sidebar should be included in this module, and it's currently having issues: https://github.com/MystK/delta-bot-three/issues/232

[2018-02-26 12:38] wyantb commented on #234
My b. :+1: to your change

[2018-02-26 12:41] wyantb commented on #235
Shame. Toss in some verbose? https://github.com/remy/nodemon/blob/master/faq.md#what-does-verbose-give-me

[2018-03-01 00:10] MystK commented on #236
sent a message to the admins

[2018-03-01 23:16] Snorrrlax opened #238 "Missed delta edit"
This edit was missed: https://www.reddit.com/r/changemyview/comments/815ycg/cmv_2_weetabix_is_the_correct_number_of_weetabix/dv0wqng/

[2018-03-02 04:16] ntravis commented on #238
Similarly, parent of [this comment](https://www.reddit.com/r/changemyview/comments/818b97/cmv_conservatives_on_reddit_are_the_fragile/dv1q8ga/?context=1000) was edited and bot didn't update.

[2018-03-02 04:57] MystK commented on #238
thanks to both for catching. manually added. closing

[2018-03-02 04:57] #238 closed

[2018-03-02 05:07] MystK opened #239 "when text is too long, delta log post is not created"
![image](https://user-images.githubusercontent.com/7399140/36884253-9651f202-1d94-11e8-80e5-a7798df8d6f6.png)

[2018-03-02 05:16] MystK commented on #236
solved. it was a user agent and leveldb build issue. reverts back to glib 2.12 so leveldb can be built

[2018-03-02 05:16] #236 closed

[2018-03-02 05:17] MystK commented on #235
after the major refactor to make the main module use the "modules" system, I havn't seen any crashes in days. closing for now

[2018-03-02 05:17] #235 closed

[2018-03-02 05:28] MystK commented on #238
this was due to the bot having debug code and the check edited comments was not running. it's now officially fixed.

[2018-03-02 12:26] wyantb commented on #239
What should we do...truncate titles, you think? How many chars should we max at?

[2018-03-02 19:03] MystK commented on #239
I'm thinking that the problem is that we put the title in the url.

I think we can move it to the request body, but I remember long ago experimenting a while back that in some calls, this was not possible.

[2018-03-02 19:03] MystK commented on #233
closing because I'm pretyt sure this was my fault.

[2018-03-02 19:03] #233 closed

[2018-03-02 19:04] MystK commented on #218
closing because not related to db3

[2018-03-02 19:04] #218 closed

[2018-03-02 19:04] #217 closed

[2018-03-08 00:24] Snorrrlax opened #240 "A return to /r/changemyview/wiki/username?"
When we first introduced delta history wiki pages, the format was /r/changemyview/wiki/username. But during the transition between one version of DB and another, there was an issue that required moving all delta histories to /r/changemyview/wiki/user/username, wiping the old ones like so: https://www.reddit.com/r/changemyview/wiki/tryusingscience

I think the extra "user" section makes it a bit ha

[2018-03-08 00:45] Snorrrlax opened #241 "Why does DB think this user tried to award it a delta?"
Here: https://www.reddit.com/r/changemyview/comments/82o2zo/cmv_fathers_should_not_be_responsible_for/dvck1eq/

The second issue is "can't award DeltaBot a delta", but the comment is top level (now removed).

[2018-03-08 05:05] MystK commented on #240
This would be a pretty big task. I think it involves two things
1. code changes on DB3 to handle and use the new URL
1. a one time script that runs to move all of the wikis from /user to /

1 is easy, but 2 will be difficult. I'm not sure if it's worth the effort compared to the other issues DB3 has at the moment.

[2018-03-08 05:12] MystK commented on #241
I checked the code for a good amount of time and can't find any issues with the logic.

My only explanation at the moment is a freak accident/server fart, although I can't explain it.

I will leave this here for now. If there are no other cases that are similar, I will close the ticket.

[2018-03-10 06:07] MystK commented on #220
This is because db3 was stupid and only removed the first quoted area

[2018-03-10 06:21] #220 closed

[2018-03-10 06:22] MystK commented on #207
@wyantb do you think this is safe to close?

[2018-03-10 06:47] #200 closed

[2018-03-10 06:48] MystK commented on #206
This was fixed in fa76a83ac5ad195e046b9747bf74eed59846ac59.

We were not using the same "check for delta" function in the add messages vs everywhere else. I've fixed that.

[2018-03-10 06:48] #206 closed

[2018-03-10 06:48] MystK commented on #202
closing for now because a lot of refactoring was done to the code

[2018-03-10 06:48] #202 closed

[2018-03-10 06:48] MystK commented on #186
closing for now because a lot of refactoring was done to the code and this could have been fixed

[2018-03-10 06:48] #186 closed

[2018-03-10 06:51] MystK commented on #197
What are you thoughts on moving EVERYTHING to levelupDB @wyantb? One negative I had was that the UI clients are pretty bad for levelup DB compared to, say, MySQL. I had to manually merge two databases when it would have been super easy with with MySQL because of their GUI tools.

[2018-03-10 06:53] MystK opened #242 "Create some UI tool to allow mods to add missing deltas that are not associated with a comment"
It would be nice if instead of me having to manually add deltas, there was a tool that ANY mod would be able to use to add missing deltas that are not associated with a comment.

This UI tool would most definitely have some sort of audit log.

[2018-03-10 06:53] MystK commented on #198
closing and further discussion will be in #232  because that is the root cause

[2018-03-10 06:53] #198 closed

[2018-03-10 06:55] MystK commented on #177
performance is not at issue because we are nowhere close to hitting the request limit. Close for now because the current way is safer.

[2018-03-10 06:55] #177 closed

[2018-03-10 06:56] MystK commented on #194
closing for now because this might have been fixed with the introduction of levelup db

[2018-03-10 06:56] #194 closed

[2018-03-10 06:56] MystK commented on #184
anyone seen this happen recently?

[2018-03-10 06:58] MystK commented on #232
a solution to this is to look at the threads instead of comments. The threads go back way more than 30 days.

[2018-03-10 06:59] MystK opened #243 "Introduce a reconciliation module looking back at threads"
Create a new module which looks through the threads going back more than 30 days. Maybe run this once a day or a little bit at a time throughout the whole day.

This would fix #227 and any future instances when deltabot is down for longer than 5 hours.

[2018-03-10 07:00] MystK commented on #227
closing to move this to #243

[2018-03-10 07:00] #227 closed

[2018-03-10 07:00] MystK commented on #225
havn't seen this in a while so will close

[2018-03-10 07:00] #225 closed

[2018-03-10 07:11] MystK opened #244 "Reddit Admins removed feature that could have been used for yearly, monthly, all time deltaboard issue"
https://www.reddit.com/r/changelog/comments/7tus5f/update_to_search_api/

So that's why the yearly deltaboard broke. They removed the feature that we use.

Any thoughts on what we can do?

[2018-03-11 00:54] wyantb commented on #197
Go for it. Unless you see reliability problems with using it, then it's a simple file-backed DB that we can migrate from host to host and backup via rsync without any notable difficulties. Go for it.

[2018-03-11 08:11] MystK commented on #209
When our yearly deltaboard was working, it was inaccurate because of the deleted posts.

[2018-03-16 10:44] Snorrrlax opened #245 "Moving the sidebar deltaboard to a widget"
The reddit redesign is approaching (though I'm not sure when it will launch), and one of the changes they've made is adding widgets to the sidebar. This means we'll have to create a "textarea" widget just for the deltaboard.

Not sure if any changes need to be made now but it's worth keeping in mind that we'll have to address this at some point.

[2018-03-16 16:59] MystK commented on #245
Can you send me a link to an overview of the redesign so I can avoid looking for it?

[2018-03-20 11:17] Snorrrlax opened #246 "Ignore quoted text in delta comments"
This was accepted by the bot: https://www.reddit.com/r/changemyview/comments/85mqf8/cmv_games_like_chess_should_not_have_male_and/dvz304z/

But it doesn't count as an explanation. Quotes should be ignored from the character count.

[2018-03-20 19:01] MystK commented on #246
whoops should be easy fix

[2018-03-29 14:42] Snorrrlax commented on #226
Any progress on this?

[2018-03-29 14:52] hallidev commented on #226
I've been focused (which was one of my concerns above) with a project that was already active when I mentioned this, but I did get some work into it. I still feel like I'll need a few weeks before I wrap up with my active project and can dedicate time to this.

I did stub out the implementation however. It's now just a question of filling in the blanks when it comes to the Deltaboard work. For som

[2018-03-29 15:59] hacksoncode commented on #184
I think it's been more rare these days, however, I just saw this example today:

https://www.reddit.com/r/changemyview/comments/87wpim/cmv_asians_in_usa_go_through_normalized_racism/dwggnu4/

[2018-03-30 16:58] hacksoncode commented on #184
Here's another: https://www.reddit.com/r/changemyview/comments/888stt/cmv_i_view_that_buying_a_house_is_not_worth_it/dwiva3u/

Not sure if the problem is accelerating, or if I'm just more sensitized to it now that I saw another one.

[2018-04-05 03:40] hacksoncode commented on #184
Eek... this comment:

https://www.reddit.com/r/changemyview/comments/89rj1s/cmv_not_all_x_are_y/dwt7fkz/

Resulted in DB issuing *18* delta award comments.

Interestingly, only 2 of them are distinguished, which makes me suspect some kind of race condition or other reddit flakiness...

[2018-04-05 17:10] MystK commented on #184
:/ looks bad. Yes I'm 100% sure it's a reddit overload issue where when we try to write a comment, reddit says it failed but it actually worked. I think we need a daily job that checks issues like this and remove it.

[2018-04-06 10:46] Snorrrlax opened #248 "WATT Flair"
We now have the WATT flair ready on r/changemyview. Here's what DeltaBot needs to do:

Alex will figure out a way to tell DeltaBot when a WATT article has been created. DB will then assign the 'WATT' flair to the corresponding CMV post, but first it must check if there is already a flair assigned:

If there isn't, it can just assign the "WATT" flair.
If there is a "[∆(s) from OP]" flair, it must a

[2018-04-06 10:55] Snorrrlax opened #249 "Include WATT in stickied comment"
Like I mentioned in the previous issue, DeltaBot will be notified if a WATT article is created. It should check if there is a stickied comment in the CMV post. If there is, it should be edited to include this bit at the end:

If there is no stickied comment, DeltaBot should make a new one:

[2018-04-06 19:28] Snorrrlax commented on #249
In the presumably rare case of OP awarding deltas _after_ creating a WATT article, the stickied comment should be edited to include the delta stuff above the WATT section.

[2018-04-07 21:11] Snorrrlax commented on #248
I forgot one combination:

If there is a "Fresh Topic Friday" flair, it must assign the "FTF/WATT" flair.

[2018-04-17 05:54] whitef530 opened #251 "User losing deltas"
u/AnythingApplied:

User wiki (before): https://www.reddit.com/r/changemyview/wiki/user/anythingapplied?v=012aa122-383f-11e8-b55d-0e2bdb09b6f8

User wiki (after): https://www.reddit.com/r/changemyview/wiki/user/anythingapplied?v=c31a4718-3da0-11e8-94f6-0e477610558e

Modmail: https://mod.reddit.com/mail/all/3kjso

[2018-05-11 19:08] #246 closed

[2018-05-27 01:37] theholla opened #254 "DeltaLog sticky in Android app contains broken link"
There is a broken link in the DeltaLog sticky on Android -- "earned deltas... are listed [here](reddit://reddit/r/DeltaLog/comments/8m4qrd)". The link to the post works on web, but not in the Android app.

- Link on web: https://www.reddit.com/r/DeltaLog/comments/8m4qrd
- Link in Android app: reddit://reddit/r/DeltaLog/comments/8m4qrd

When the user clicks on the link to the earned deltas list fro

[2018-06-07 18:55] Snorrrlax commented on #248
Change of plan.

[2018-06-07 18:55] #248 closed

[2018-07-09 05:03] wanderrful opened #255 "In the DeltaLog, "?context=1" is specified in the source code, but not in the current live version of the bot."
I cloned this repo to try and add a simple "?context=2" or something because right now all of the DeltaLog links just go straight to the delta post itself without showing the context, but to my surprise I discovered that you guys already had this in the code (in the `index.json` file, specifically). So instead of making a pull request where I just make that one tweak I'm just going to make this is

[2018-07-09 12:55] hallidev commented on #255
DeltaBot is currently running off of this codebase:

https://github.com/hallidev/delta-bot-four

Contributions are more than welcome. I will be making some stability updates over the next few days, but nothing should change dramatically.

[2018-07-09 17:46] wanderrful commented on #255
@hallidev Alright, I went into the C# source code and submitted this pull request to fix it: https://github.com/wanderrful/delta-bot-four/pull/1